<!DOCTYPE html>
<html lang="en">

<head>
  <title>Receipt</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!-- External CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/receipt.css" />

  <!-- External JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- App JS -->
  <!-- <script defer src="/scripts/receipt.js"></script> -->
</head>

<body>
  <!-- Website Navbar -->
  <nav>
    <header id="website-info">
      <div class="left-nav">
        <span id="logo">Logo</span>
        <div id="contact-us">Contact Us</div>
      </div>
      <a id="nav-toggle"><i class="fa-solid fa-bars"></i></a>
    </header>
  </nav>
  <main id="receipt">
    <section class="restaurant-info">
      <label>Restaurant Name</label>
      <div>
        <i class="fa-solid fa-location-dot"></i> Pick up at 1234 Test Ave
      </div>
    </section>
    <section id="receipt-container">
      <% for (let order of itemArr ) { %>
        <article>
          <div class="item-count"><%= order.qty%>x</div>
          <div class="dish-detail">
            <label><%= order.name%></label>
          </div>
          <div>$<%= (order.price / 100) * order.qty %></div>
        </article>
      <% } %>
    </section>
    <section id="total">
      <div class="time">
        <div id="est-time">Estimated time until pickup: <%= totalTime%> minutes</div>
        <div id="actual-time">Actual time: pending...</div>
      </div>
        <div id="total-price">Total: $<%= totalPrice %></div>
    </section>
  </main>
</body>
</html>

